<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>adminLogoutService</servlet-name>
  	<display-name>adminLogoutService</display-name>
  	<description></description>
  	<servlet-class>services.adminLogoutService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>adminLoginService</servlet-name>
  	<display-name>adminLoginService</display-name>
  	<description></description>
  	<servlet-class>services.adminLoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>candidateLoginService</servlet-name>
  	<display-name>candidateLoginService</display-name>
  	<description></description>
  	<servlet-class>services.candidateLoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>candidateLogoutService</servlet-name>
  	<display-name>candidateLogoutService</display-name>
  	<description></description>
  	<servlet-class>services.candidateLogoutService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>candidateFormHandler</servlet-name>
  	<display-name>candidateFormHandler</display-name>
  	<description></description>
  	<servlet-class>services.candidateFormHandler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>candidateListService</servlet-name>
  	<display-name>candidateListService</display-name>
  	<description></description>
  	<servlet-class>services.candidateListService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>sendVoterEmail</servlet-name>
  	<display-name>sendVoterEmail</display-name>
  	<description></description>
  	<servlet-class>services.sendVoterEmail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VoterLogin</servlet-name>
  	<display-name>VoterLogin</display-name>
  	<description></description>
  	<servlet-class>services.VoterLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Vote</servlet-name>
  	<display-name>Vote</display-name>
  	<description></description>
  	<servlet-class>services.Vote</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>adminLogoutService</servlet-name>
  	<url-pattern>/adminLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>adminLoginService</servlet-name>
  	<url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>candidateLoginService</servlet-name>
  	<url-pattern>/candidateLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>candidateLogoutService</servlet-name>
  	<url-pattern>/candidateLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>candidateFormHandler</servlet-name>
  	<url-pattern>/candidateUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>candidateListService</servlet-name>
  	<url-pattern>/candidateList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>sendVoterEmail</servlet-name>
  	<url-pattern>/sendVoterEmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VoterLogin</servlet-name>
  	<url-pattern>/VoterLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Vote</servlet-name>
  	<url-pattern>/Vote</url-pattern>
  </servlet-mapping>
</web-app>
